<table class="table">
  <tbody>
    <tr>
      <td>Įstrižainė</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <tr>
      <td>Ekrano tipas</td>
      <td>{{ product.display_type }}</td>
    </tr>
      <tr>
      <td>Procesoriaus dažnis</td>
      <td>{{ product.processor_freq }}</td>
    </tr>
      <tr>
      <td>Operatyvioji atmintis</td>
      <td>{{ product.ram }}</td>
    </tr>
      <tr>
      <td>Vaizdo plokštė</td>
      <td>{{ product.video }}</td>
    </tr>
      <tr>
      <td>Akumuliatoriaus darbo laikas</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
  </tbody>
</table>
